header,
footer,
main {
  margin: 4rem auto;
  max-width: 80rem;
  padding-inline: 4rem;
}

.countries-filter,
.simple-pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.countries-filter li,
.simple-pagination li {
  font-weight: bold;
  cursor: pointer;
  line-height: 2rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
  border: solid 0.04rem gray; 
  margin-right: 0.4rem; 
  border-radius: 0.4rem;
}

.countries-filter li {
  width: auto;
  padding-inline: 0.4rem;
}